body {
  min-width: 1440px;
  min-height: 100vh;
  transition: background-color 0.3s, color 0.3s;
  font-family: sans-serif;
}

body.light-theme {
  background-color: rgb(255, 255, 241);
  color: #000000;
}

body.dark-theme {
  background-color: rgb(66, 68, 54);
  color: #ffffff;
}
