.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
}

.breadcrumb-wrapper {
  display: flex;
  align-items: center;
}

.breadcrumbs a {
  font-size: 16px;
  text-decoration: none;
  padding: 8px 16px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 6px;
  color: rgb(139, 139, 139);
}

.breadcrumb-link.active {
  font-weight: 600;
  color: rgb(66, 68, 54);
  text-overflow: ellipsis;
  max-width: 150px;
  overflow: hidden;
}

.breadcrumb-item a {
  text-overflow: ellipsis;

  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  max-width: 120px;
}

.breadcrumb-separator {
  display: inline-block;
  width: 20px;
  height: 1px;
  background-color: rgb(221, 221, 221);
}