:root {
  --grey-divider: #DDDDDD;
  --grey: #333;
  --green: #92A134;
  --white: #FFFFFF;
  --day-icon-color: #333;
  --night-icon-color: #fff;
}

.header {
  width: 1440px;
  height: 128px;
  background: #FFFFF1;
  border-bottom: 1px solid var(--grey-divider);
  margin: 0 auto;
  position: relative;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  height: 100%;
}

.headerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  padding: 40px 40px;  
  box-sizing: border-box;
}

.logoBlock {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 30px;
  left: 40px;
}

.logoBlock img {
  width: 70px;
  height: 70px;
}

.iconMode {
  width: 60px;
  height: 32px;
  cursor: pointer;
}

.discountButton {
  width: 151px;
  height: 32px;
  padding: 6px 16px;
  background-color: #92A134;
  color: var(--white);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 auto;
}

.discountButton:hover {
  background-color: #7D8F2D;
}

.navMenu {
  display: flex;
  width: 518px;
  height: 26px;
  gap: 32px;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.navLink {
  color: var(--grey);
  text-decoration: none;
  font-size: 16px;
  width: 518;
   height: 70;
   top: 30px;
   left: 461px;
   gap: 12px;

}

.navLink:hover {
  color: var(--green);
}

.cartIcons {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 120px;
  height: 48px;
  position: absolute;
  top: 40px;
  left: 1280px;
}

.iconLink {
  position: relative;
  display: flex;
  align-items: center;
}

.badgeCount {
  position: absolute;
  top: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: var(--green);
  font-weight: 600;
  font-size: 12px;
  line-height: 90%;
  color: var(--white);
}

.icon {
  width: 32px;
}

.burger {
  width: 44px;
  cursor: pointer;
  background: none;
  border: none;
  display: none;
}

.night_mode.header {
  border-bottom: 1px solid var(--grey);
}

.night_mode .navLink {
  color: var(--white);
}

.night_mode .icon:hover {
  fill: var(--green);
  stroke: var(--green);
}

.night_mode .discountButton {
  background-color: #4CAF50;
}

.night_mode .discountButton:hover {
  background-color: #45A049;
}

@media (max-width: 767px) {
  .header {
    width: 100%;
    height: auto;
  }

  .headerContent {
    flex-direction: column;
    padding: 10px;
  }

  .logoBlock {
    position: static;
    top: 0;
    left: 0;
  }

  .iconMode {
    position: static;
    margin-left: 0;
  }

  .discountButton {
    margin: 0 auto;
  
  }

  .navMenu {
    display: none;
  }

  .burger {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .cartIcons {
    position: static;
    margin-top: 10px;
    width: auto;
    justify-content: flex-end;
  }
}

@media (min-width: 768px) {
  .headerContent {
    padding: 40px 40px; 
  }

  .logoBlock img {
    width: 70px;
    height: 70px;
  }

  .icon {
    width: 44px;
  }

  .burger {
    display: none;
  }

  .badgeCount {
    width: 23px;
    height: 23px;
  }
}

@media (min-width: 1000px) {
  .headerContent {
    padding: 40px 40px;
  }

  .logoBlock {
    gap: 20px;
  }
}