.categories-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 80px 40px;
  max-width: 1440px;
}

.categories-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 40px 0;
  flex-wrap: wrap;
  gap: 40px;
}

.categories-name {
  font-weight: 700;
  font-size: 4rem;
  color: #424436;
  white-space: nowrap;
  order: 0;
}

.category-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 30px;
}


@media (max-width: 1000px) {
  /* Categories */
  .categories-name {
    font-size: 3rem; /* уменьшение текста */
  }

  .all-categories-btn button {
    font-size: 13px;
    height: 30px;
  }

  .category-list {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* адаптивно */
    gap: 24px;
  }

  .category-list p {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .categories-container {
    padding: 24px 20px;
  }

  .categories-name {
    font-size: 2.5rem;
  }

  .category-list {
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 16px;
  }

  .all-categories-btn button {
    font-size: 13px;
  }

  .category-list p {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .categories-name {
    font-size: 2rem;
    white-space: normal;
  }

  .category-list {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 12px;
  }

  .all-categories-btn {
    display: flex;
    padding: 0;
  }


  .category-item img {
    height: 200px;
  }

  .category-list {
    gap: 16px;
  }

  .category-list p {
    font-size: 16px;
  }
}

@media (max-width: 360px) {
  .categories-container {
    margin: 0px 16px;

  }

  .categories-name {
    font-size: 32px;
  }
  
  .all-categories-btn button {
    display: block;
  }

  .category-list p {
    display: flex;
    flex-direction: column;
    font-size: 16px;
  }

  .line {
  display: none;
}

.categories-title {
  flex-direction: column;
  align-items: flex-start;
  padding: 12px 0;
}
.all-categories-btn button {
  order: 2;
  align-self: stretch;
}

.category-list {
  order: 1;
}
}

