.btn {
  border: none;
  border-radius: 6px;
  white-space: nowrap;
  cursor: pointer;
}

.color-green {
  background-color: #92A134;
  color: #FFFFFF;
}

.color-white {
  background-color: #FFFFF1;
  color: #424436;

   &:hover {
    background-color: #424436;
    color: #FFFFFF;
  }
}

.color-submitted {
  background-color: #F2F6D3;
  color: #92A134;
  pointer-events: none;
}

.color-neutral {
  background: none;
  border: 1px solid #dddddd;
  color: #8b8b8b;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    background-color: #F2F6D3;
  }
}

.size-M {
  padding: 16px 56px;
  font-size: 20px;
}

.size-L {
  padding: 16px 0;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.size-S {
  padding: 8px 16px;
  font-size: 16px;
}

.size-XS {
  padding: 6px 16px;
  font-size: 16px;
}

.breadcrumbs__last-light{
  color: #424436;
  font-weight: 500;
}

.breadcrumbs__last-dark{
  color: #FFFFFF;
  font-weight: 500;
}

@media (max-width: 725px) {
  .size-XS{
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .size-XS{
    font-size: 18px;
  }
}