/* Стили для навигационного элемента */
.nav {
  display: flex; /* Flexbox для выравнивания */
}

/* Стили для списка навигации */
.navList {
  display: flex; /* Flexbox */
  list-style: none; /* Убрать маркеры */
  margin: 0; /* Убрать внешние отступы */
  padding: 0; /* Убрать внутренние отступы */
  gap: 20px; /* Расстояние между элементами */
}

/* Стили для каждого элемента списка */
.navItem {
  font-weight: 500; /* Толщина шрифта */
  font-size: 16px; /* Размер шрифта */
  color: #4a4a4a; /* Цвет текста */
  margin-bottom: 10px; /* Нижний отступ для каждого элемента */
}

/* Стили для ссылок в навигационном меню */
.navLink {
  text-decoration: none; /* Убрать подчеркивание */
  color: inherit; /* Наследовать цвет от родителя */
  transition: color 0.3s ease; /* Плавное изменение цвета */
}

/* Стили при наведении на ссылки */
.navLink:hover {
  color: #92A134; /* Изменение цвета при наведении */
}

/* Адаптивность для 1140px */
@media (max-width: 1140px) {
  .navList { gap: 15px; } /* Уменьшение расстояния */
  .navItem { font-size: 14px; margin-bottom: 8px; } /* Уменьшение шрифта и отступа */
}

/* Адаптивность для 1000px */
@media (max-width: 1000px) {
  .navList { gap: 12px; } /* Уменьшение расстояния */
  .navItem { font-size: 12px; margin-bottom: 6px; } /* Уменьшение шрифта и отступа */
}

/* Адаптивность для 768px */
@media (max-width: 768px) {
  .navList { gap: 10px; } /* Уменьшение расстояния */
  .navItem { font-size: 10px; margin-bottom: 5px; } /* Уменьшение шрифта и отступа */
}

/* Адаптивность для 480px и 360px */
@media (max-width: 480px) {
  .nav { display: none; } /* Скрытие навигации на мобильных устройствах */
}