.link-product {
  text-decoration: none;
  color: inherit;
}

.product-card {
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 2px solid transparent;
  cursor: pointer;
  transition: border-color 0.2s ease-in-out;
  min-width: 0;
 
  &:hover {
    border-color: #656262;
  }

  img {
    width: 100%;
    height: 284px;
    object-fit: cover;
  }
}

.discount-badge {
  position: absolute;
  top: 16px;
  left: 16px;
  background-color: #f26d22;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-icons {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .heart-icon-sales,
  .shopping-bag-icon-sales {
    font-size: 36px;
    stroke-width: 2px;
    fill: #ffffff;
    stroke: #424436;
    transition: fill 0.3s, color 0.3s;

    &:hover {
      fill: #424436;
    }

    &.green {
      fill: #92a134;
    }
  }
}

.product-card-details{
  background-color: white;
.product-name {
  font-size: 20px;
  font-weight: 500;
  color: #424436;
  padding: 16px 16px 0 16px;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.prices {
  display: flex;
  align-items: baseline;
  gap: 16px;
  padding: 8px 16px 16px 16px;
  color: #424436;
}

.current-price {
  font-size: 40px;
  font-weight: 600;
  color: #424436;
  color: inherit;
}

.original-price {
  font-size: 20px;
  color: #8b8b8b;
  text-decoration: line-through;
}
}

.card-dark {
  background-color: black;
  border-color: white;
}